table {
	border-collapse: collapse;
	padding: 10px;
}

th, td {
	border: 1px solid #cccccc;
	padding: 0.5rem 1rem;
	background: #ffffff;
}

th {
	cursor: pointer;
	text-align: center;
	background: #37BC9B;
}

th > * {
	pointer-events: none;
}

.table-container {
	background: #cccccc;
	padding: 1%;
}

.icon-expand {
	cursor: pointer;
	font-size: 150%;
	color: #37BC9B;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.pill {
	background: #37BC9B;
	color: white;
	font-size: 80%;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

a.disabled {
	pointer-events: none;
}
